@charset "utf-8";
/* CSS Document */

/****************************************

          Setting

*****************************************/

*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body{
	background-color: #ffffff;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#383C3C;
	border-top-width: 7px;
	border-top-style: solid;
	border-top-color: #383C3C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

div, span, h1, h2, h3, h4, h5, h6, p,a,
img, dl, dt, dd, ol, ul, li, table, tr, th, td{
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	vertical-align: baseline;
}

img {
	border: 0;
}

ol, ul, li {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************************

          wrapper

*****************************************/

#wrapper{
	width: 700px;
	margin: 0 auto;
}

/****************************************

          header

*****************************************/

#header{
	margin-top:123px;
	overflow:hidden;
}

	#header h1{
		text-align:center;
		margin-bottom:20px;
	}

	#header ul{
		margin-right:auto;
		margin-left:auto;
		width:305px;
	}

	#header li{
		float:left;
	}

	#header .li_center{
		padding-left:36px;
		padding-right:37px;
	}

/****************************************

          image

*****************************************/

#image{
	margin-top:59px;
}

/****************************************

          content

*****************************************/

#content{
	margin-top:55px;
	font-size:13px;
}

	#content h2{
		text-align:center;
		padding-bottom:11px;
	}

	#content .bun1{
		line-height:22px;
		padding-top:22px;
	}

	#content ul{
		padding-top:60px;
	}

		#content li{
			padding-bottom:11px;
		}


/****************************************

  turnbox

*****************************************/

.example {
    margin: 0px auto;
    line-height: 4.2;
}

.turnBoxButton {
    display: block;
    text-align: center;
    cursor: pointer;
}

.turnBoxFaceNum1 {
    background-color: #101010;
}

.turnBoxCurrentFace1 > .turnBoxFaceNum1 {
    background-color: #2a2a2a;
}

.turnBoxCurrentFace1 > .turnBoxFaceNum1:hover {
    background-color: #222222;
}

.turnBoxFaceNum2 {
    background-color: #0087b7;
}

.turnBoxCurrentFace2 > .turnBoxFaceNum2 {
    background-color: #00adea;
}

.turnBoxCurrentFace2 > .turnBoxFaceNum2:hover {
    background-color: #00a2db;
}

.description {
    margin-top: 30px;
    line-height: 2.7;
    position: relative;
    padding-bottom: 300px;
    /*height: 40px;*/
}

.language-wrap {
    position: absolute;
    top: 30px;
    right: 30px;
}
language-wrap
.language {
    display: inline-block;
}
.language img {
    width: 40px;
}
.language .jp {
    float: left;
}



.language .turnBoxButton {
    position: relative;
    height: 100%;
}
.language .turnBoxButton:after {
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
}

.language.turnBoxCurrentFace2 > .turnBoxFaceNum2 .turnBoxButton:after {
    opacity: 0;
}

.text {
    position: absolute;
    -webkit-transition: 150ms ease-in-out;
    -moz-transition: 150ms ease-in-out;
    -ms-transition: 150ms ease-in-out;
    -o-transition: 150ms ease-in-out;
    transition: 150ms ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.show {
    opacity: 1;
}


/****************************************

          footer

*****************************************/

#footer{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:12px;
	letter-spacing:1.5px;
	padding-bottom:40px;
	margin-top:60px;
}

	#footer p{
		text-align:center;
	}
