@charset "utf-8";
/* CSS Document */

/****************************************

          content

*****************************************/

#content #photo{
	overflow:hidden;
}

	#content #photo li{
		float:left;
		margin-bottom:10px;
	}
	
	#content #photo .r20{
		margin-right:20px;
	}


#content #portfolio{
	overflow:hidden;
	margin-top:20px;
}

	#content #portfolio h3{
		padding-bottom:4px;
		font-weight:bold;
		font-size:15px;
	}

	#content #portfolio .box1{
		padding-bottom:20px;
		overflow:hidden;
	}

	#content #portfolio .box1 h4{
		font-weight:bold;
		padding-top:8px;
		padding-bottom:10px;
	}

		#content #portfolio .box1 .left{
			float:left;
			width:330px;
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: #8D8E8E;
		}
		
		#content #portfolio .box1 .right{
			float:right;
			width:330px;
			border-top-width: 2px;
			border-top-style: solid;
			border-top-color: #8D8E8E;
			padding-top:12px;
		}

.sitaspace{
	margin-bottom:20px;
}
